body {
  padding: 32px;
  font-size: 24px;
}

.red-text {
  font-style: italic;

  /* TODO: Make the text colour red instead of blue */
  color: red;
}

#cool-section
{
	border: 4px solid grey;
	background-color: yellow;
	height: 300px;
}
